<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bom vindo!
        Sou Carlos Negromonte!
    </mat-card-title>
<mat-card-subtitle class="subtitle">
    Exercicio Softex, Operação Crud... Informações do livro tem que conter, Nome, Autor, ISBN.<br>
    Na pasta backend tem um arquivo db.json<br>
    <br>
    Primeiro tem que iniciar o arquivo .json para que em Produtos apareça os livros.
</mat-card-subtitle>
<!--ul>
    <li *myFor = "let n Em [1,2,3]">{{ n }}</li>
</!--ul-->
</mat-card>
