<mat-card>
    <mat-card-title>Novo Livro</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome do livro" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Autor" [(ngModel)]="product.autor" name="autor">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Isbn" [(ngModel)]="product.isbn" name="isbn">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createProduct()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()" >
        Cancelar
    </button>
</mat-card>






